body{
background-color:d3dbff;
}
.Ippo{
font-size:20px;
font-family:lucida console;
color:49506e;
}
h3{
font-size:13px;
}
.pip{
padding:px;
font-family:fantasy;
color:34394f;
}
.ipp{
height:300px;
width:400px;
}
.takamura{
height:250px;
width:400px;
}
.Aoki{
	width:400px;
	height:200px;
}